<h1>Listing address_books</h1>

<%
if params[:name]
  @address_books = AddressBook.smart_filter({:name => {params[:criteria] => params[:name]}})
elsif params[:address]
  @address_books = AddressBook.smart_filter(:address => {params[:criteria] => params[:address]})
elsif params[:zipcode] && params[:criteria] != 'between'
  @address_books = AddressBook.smart_filter(:zipcode => {params[:criteria] => params[:zipcode][:first]})
elsif params[:zipcode] && params[:criteria] == 'between'
  @address_books = AddressBook.smart_filter(:zipcode => {params[:criteria] => [params[:zipcode][:first], params[:zipcode][:second]]})
end
%>

<div id="name-smart-field">
  <form action="/address_books" method="get" accept-charset="utf-8">
    <label for="name">Name</label>
    <select name="criteria" id="criteria">
      <option value="contains">Contains</option>
      <option value="does_not_contain">Does not contain</option>
      <option value="is">is</option>
      <option value="starts_with">Starts with</option>
      <option value="ends_with">Ends with</option>
    </select>
    
    <input type="search" name="name" value="" id="name">
    <input type="submit" value="Continue &rarr;">
  </form>
</div>
<hr />
<div id="address-smart-field">
  <form action="/address_books" method="get" accept-charset="utf-8">
    <label for="address">Address</label>
    <select name="criteria" id="criteria">
      <option value="contains">Contains</option>
      <option value="does_not_contain">Does not contain</option>
      <option value="is">is</option>
      <option value="starts_with">Starts with</option>
      <option value="ends_with">Ends with</option>
    </select>
    
    <input type="search" name="address" value="" id="address">
    <input type="submit" value="Continue &rarr;">
  </form>
</div>
<hr />
<div id="zipcode-smart-field">
  <form action="/address_books" method="get" accept-charset="utf-8">
    <label for="zipcode">Zip Code</label>
    <select name="criteria" id="criteria">
      <option value="equals_to">Equals</option>
      <option value="greater_than">Greater Than</option>
      <option value="less_than">Less Than</option>
      <option value="between">Between</option>
    </select>
    
    <input type="search" name="zipcode[first]" value="" id="zipcode">
    <input type="search" name="zipcode[second]" value="" id="zipcode">
    <input type="submit" value="Continue &rarr;">
  </form>
</div>


<table>
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>Zip Code</th>
    <th>Company</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Domain</th>
  </tr>

<% @address_books.each do |address_book| %>
  <tr>
    <td><%=h address_book.name %></td>
    <td><%=h address_book.address %></td>
    <td><%=h address_book.zipcode %></td>
    <td><%=h address_book.company %></td>
    <td><%=h address_book.email %></td>
    <td><%=h address_book.phone %></td>
    <td><%=h address_book.domain %></td>
    <td><%= link_to 'Show', address_book %></td>
    <td><%= link_to 'Edit', edit_address_book_path(address_book) %></td>
    <td><%= link_to 'Destroy', address_book, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New address_book', new_address_book_path %>